body {
	background-color: #2a2d35;
}

.song { 
	margin: 40px auto;
	padding: 40px;
	border: 10px solid #89a4f4;
	background-color: #b6b7ba;
	width: 70%;

	p {
		font-family: 'Nanum Brush Script', cursive;
		font-size: 34px;
	}

	h1 {
		font-family: 'Indie Flower', cursive;
	}
}